{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
{% endblock %}

{% block title %}
Blog App|Signup
{% endblock %}

{% block main_content %}

<div id="login">
<!--    <h3 class="text-center text-white pt-5">Login form</h3>-->
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">SignUp</h3>
                        <div class="form-group">
                            <label for="usermail" class="text-info">User Email:</label><br>
                            <input type="text" name="usermail" id="usermail" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control" onkeyup='match_pass();' required>
<!--                            <p></p>-->
                        </div>
                        <div class="form-group">
                            <label for="repassword" class="text-info">Retype Password:</label><br>
                            <input type="text" name="repassword" id="repassword" class="form-control" onkeyup='match_pass();' required>
                            <p id="check_pass"></p>
                        </div>
                        <div class="form-group">
<!--                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input-->
<!--                                    id="remember-me" name="remember-me" type="checkbox"></span></label><br>-->
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="SignUp">
                        </div>
<!--                        <div id="register-link" class="text-right">-->
<!--                            <a href="#" class="text-info">Register here</a>-->
<!--                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}